@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --linkActiveColor: #ff0000;
}
a.active {
  color: var(--linkActiveColor);
}
/* hamburger menu sytle */
.hamburger-react div {
  height: 3px !important;
}

.menu_open {
  @apply right-0 opacity-100 transition-all duration-700;
}
.section_title {
  @apply mb-6  text-2xl font-bold tracking-[1.2px] text-gray-950 dark:text-gray-100 lg:text-4xl;
}
