@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --linkActiveColor: #ff0000;
}
.theme {
  transition: all 0.5s ease;
}

a.active {
  color: var(--linkActiveColor);
}

.swiper-button-prev {
  left: 0 !important;
  padding-right: 5px;
}
.swiper-button-next {
  right: 0 !important;
  padding-left: 5px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 12px !important;
  font-weight: 700;
  color: #8c7a7a;
}
/* hamburger menu sytle */
.hamburger-react div {
  height: 3px !important;
}

.ball_shadow {
  box-shadow: rgb(0, 195, 255) 0px 0px 2px 2px;
}
.btn_link-blue {
  box-shadow: #00c4ffe6 0px 13px 19px -6px;
}
.btn_link-white {
  box-shadow: rgb(185, 185, 185) 0px 13px 19px -6px;
}
.btn_link-white:hover {
  box-shadow: rgba(0, 196, 255, 0.36) 0px 0px 17px 0px;
}
.btn_link-blue:hover {
  box-shadow: rgba(0, 196, 255, 0.36) 0px 0px 17px 0px;
}
.bg-skills {
  clip-path: polygon(0 14%, 100% 0%, 100% 86%, 0 100%);
}

.ball_shadow:hover,
.ball_shadow:focus {
  box-shadow: rgb(0, 195, 255) 0px 0px 3px 3px;
}
.form_shadow {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;
}
.social_icon {
  @apply fill-black dark:fill-slate-300;
}
.menu_open {
  @apply right-0 opacity-100 transition-all duration-700;
}
.section_title {
  @apply mb-6  text-2xl font-bold tracking-[1.2px] text-gray-950 dark:text-gray-100 lg:text-4xl;
}
._left {
  @apply md:left-full md:-translate-x-1/2;
}
._right {
  @apply md:left-0 md:-translate-x-1/2;
}

@media (max-width: 640px) {
  .bg-skills {
    clip-path: polygon(0 8%, 100% 0%, 100% 92%, 0 100%);
  }
}
